#define RED_RGB D0
#define GREEN_RGB D2
#define BLUE_RGB D3

#define SSID_NAME ""
#define SSID_PASS ""

#define TWITTER_SSL_FINGERPRINT_HEX "ABCDABCDABCDABCDABCDABCDABCDABCDABCDABCD"
#define TWITTER_USER_ID "XXXXXXXXXXXXXXXXXXX"
#define TWITTER_API_BEARER_TOKEN "Bearer XXXX"
