#define RED_LED D5
#define YELLOW_LED D6
#define GREEN_LED D7

#define RED_RGB D0
#define GREEN_RGB D2
#define BLUE_RGB D3

#define SSID_NAME ""
#define SSID_PASS ""

#define TWITTER_SSL_FINGERPRINT_HEX "ABCDABCDABCDABCDABCDABCDABCDABCDABCD"
#define TWITTER_USER_ID "1111111111111111111"
#define TWITTER_API_BEARER_TOKEN "Bearer XXXXXX"
