#define RED_RGB D8
#define GREEN_RGB D9
#define BLUE_RGB D10
#define BUTTON D3
#define BACKLIGHT D0
#define TFT_DC    D1
#define TFT_RST   D2
#define TFT_CS    D8
// SCK (CLK) ---> NodeMCU pin D5 (GPIO14)

#define SSID_NAME ""
#define SSID_PASS ""

#define TWITTER_SSL_FINGERPRINT_HEX "8DBFF0C62DC1A7A8BFCFCC6B6834021C91106BEB"
#define TWITTER_USER_ID "XXXXXXXXXXXXXXX"
#define TWITTER_API_BEARER_TOKEN "Bearer XXXXXXXXXXXXXXXX"
