#define RED_RGB D0
#define GREEN_RGB D2
#define BLUE_RGB D3
#define BUTTON D4

#define SSID_NAME ""
#define SSID_PASS ""

#define TWITTER_SSL_FINGERPRINT_HEX "ABCDABCDABCDABCDABCDABCDABCDABCD"
#define TWITTER_USER_ID "XXXXXXXXXXXXXXXX"
#define TWITTER_API_BEARER_TOKEN "Bearer XXXXXXXXXXX"
